<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Stock Tracker</h1>
    <h2>Add Stocks</h2>
    <form action="/stock/create" method="POST">
        <input type="text" placeholder="Ticker Name" name="ticker">
        <input type="text" placeholder="Price of Purchase" name="purchasePrice">
        <input type="text" placeholder="Threshold Selling Price" name="sellThresholdPrice">
        <input type="text" placeholder="Amount of Stocks Bought" name="amountBought">
        <button type="submit">Submit</button>
    </form>
    <h2>Stock Portfolio</h2>
    <ul class="stock_portfolio">
        <% for (let i = 0; i < ticker_array.length; ++i) {%>
            <li class="stock">
                <a href="/stock/<%= ticker_array[i] %>"> <%= ticker_array[i] %> </a>
            </li>
        <% } %>
    </ul>
    <form action="/user/logout/post" method="POST">
        <button type="submit">Logout</button>
    </form>

    

</body>
</html>

