<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/user/signup/post" method="POST" id="signUpForm">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        
        <label for="password_repeat"><b>Verify Password</b></label>
        <input type="password" placeholder="Repeat Password" name="password_repeat" required>
        
        <button type="submit" id="signUpButton">Sign Up</button>
    </form>
    <p id="pwd_msg" style="color:#FF0000">Passwords do not match. Try again.</p>
    <script>
        form = document.querySelector('#signUpForm')
        msg = document.querySelector('#pwd_msg')
        msg.style.display = "none"
        form.addEventListener('submit', function(form) {
            password = document.querySelector('input[name="password"]').value
            repeat_password = document.querySelector('input[name="password_repeat"]').value       
            if (repeat_password != password) {
                form.preventDefault()
                msg.style.display = "block"
            }
        })
    </script>
</body>
</html>

